body {
  padding: 0 2.5vw;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
  flex: 0.55;
  line-height: 1.1rem;
}

.logo i {
  font-size: 3rem;
  margin-right: 0.2rem;
  cursor: pointer;
}

.logo .title {
  font-size: 1.5rem;
  cursor: pointer;
}

.logo p {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.logo span {
  color: #888;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: normal;
}

header .second-part {
  display: flex;
  flex: 0.45;
  justify-content: space-between;
}

.second-part .contact {
  display: flex;
  align-items: center;
}

.second-part .menu {
  display: flex;
  align-items: center;
}

.contact .separator {
  height: 3.9vh;
  margin: 0 2.7vw;
  color: #eee;
  opacity: 0.5;
}

.icon i {
  margin-right: 1vw;
  font-size: 1.1rem;
  cursor: pointer;
}

.icon i:hover {
  color: #cee002;
}

.number {
  font-size: 1rem;
  font-weight: 520;
}

.number span {
  color: #888;
  font-weight: 545;
  font-size: 0.84rem;
}

.menu {
  cursor: pointer;
}

.second-part .menu p {
  font-size: 0.9rem;
  font-weight: 500;
}

.second-part .menu p i {
  font-size: 1.3rem;
  color: #888;
  margin-left: 1rem;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------   HOME   -------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */

#home {
  position: relative;
}

#home img {
  display: block;
  width: 100%;
  filter: grayscale(60%);
}

.info {
  position: absolute;
  top: 22%;
  left: 20%;
  color: white;
  width: 30%;
}
#home-text {
  position: relative;
  padding-top: 3rem;
  margin-left: 3rem;
  line-height: 2.7rem;
  z-index: 2;
}

#home-title {
  font-size: 3.2rem;
}

#border {
  position: absolute;
  border: 5px solid #cee002;
  width: 220px;
  height: 100%;
  overflow: visible;
  z-index: 0;
  min-width: 220px;
}

#slider {
  position: absolute;
  top: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#previous,
#next {
  cursor: pointer;
  transition: opacity 0.4s ease;
  opacity: 0.5;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

#slider:hover #previous,
#slider:hover #next {
  opacity: 1;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------- ABOUT-US -------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */

#about-us {
  display: flex;
  padding: 15vh 14.5vw;
  padding-bottom: 10vh;
}

#about-us-article {
  flex: 0.45;
  padding: 0vh 4vw;
}

#about-us-article h4 {
  color: #cee002;
}

#about-us-article h1 {
  font-size: 1.8rem;
}

#about-us-article p {
  font-size: 0.8rem;
  color: #888;
  line-height: 1.6rem;
}

#about-us-img {
  flex: 0.45;
  padding-right: 2vw;
}

#about-us-img img {
  width: 100%;
  height: 80%;
  box-shadow: 4rem 2rem #cee002;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------- CUSTOMER --------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
#customer-parrent {
  background-image: radial-gradient(rgb(209, 203, 203) 1px, transparent 1px);
  background-size: 10px 10px;
}

.customer-list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#customer {
  padding: 0 15vw;
  padding-bottom: 5vh;
}

.customer-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 0;
}

.customer-title h1 {
  font-size: 1.6rem;
}

.customer-item {
  background-color: #fff;
  width: 45%;
  padding: 0 2%;
  padding-bottom: 1%;
}

.customer-item-img {
  width: 16%;
}

.customer-item-img img {
  border-radius: 50%;
  width: 100%;
}

.customer-item-icon {
  display: flex;
  justify-content: flex-end;
}

.customer-item-icon i {
  font-size: 1.3rem;
  color: #cee002;
}

.customer-item-description {
  font-size: 0.8rem;
  color: #888;
}

.partner {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  padding: 7vh 0;
  opacity: 0.5;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------- LATEST NEWS -------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */

#latest-news {
  padding: 0 15vw;
  padding-bottom: 10vh;
}

.latest-news-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 0;
}

.latest-news-title p {
  font-size: 0.8rem;
  color: #888;
}

.latest-news-title h1 {
  font-size: 1.6rem;
}

.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  width: 20vw;
  height: 35vh;
  overflow: hidden;
}

.item:hover {
  box-sizing: border-box;
  border: 2px solid #cee002;
}

.item-img {
  width: 100%;
}

.item-img img {
  width: 100%;
}

.item-hover {
  display: none;
  padding: 1vh 2vw;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.item-hover p:nth-child(4) {
  color: #cee002;
  font-size: 0.8rem;
}

.item-hover p:nth-child(1) {
  color: #888;
  font-size: 0.7rem;
}

.item-description {
  color: #888;
  font-size: 0.6rem;
  line-height: 1.2rem;
}

.item .item-img {
  width: 100%;
}

.item:hover .item-hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 100%;
}

.item:hover .item-img {
  display: none;
}

.item-hover {
  display: none;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------  FOOTER  -------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10vh;
  padding-top: 10vh;
}

footer .logo {
  display: flex;
  align-items: center;
  line-height: 1.1rem;
}

.link ul {
  list-style: none;
  font-size: 0.7rem;
}

#footer-separator {
  height: 1px;
  background-color: #ddd;
  border: none;
}
